.banner-card {
    width: 282px;
    height: 308px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(152deg, #192247 0%, #210E17 96.86%);
    backdrop-filter: blur(15px);
    position: relative;
    overflow: hidden;
}
.banner-card:hover {
    border: 1px solid rgba(140, 60, 255, 0.7);
}

.content {
    display: flex;
    flex-direction: column;
}

.content h3 {
    padding-left: 15px;
    padding-right: 15px;
    color: #FFF;
    font-family: "Inter";
    font-size: 22px;
    font-style: normal;
}

.content p {
    padding: 0px 15px;
    color: rgba(255, 255, 255, 0.70);
    font-family: "Inter";
    font-style: normal;
}

.banner-icon {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

/* 1200px 이하에서만 변경되는 스타일 */
@media (max-width: 1200px) {
    .banner-card {
        width: 100%;
        min-height: 180px;
        height: auto;
    }

    .content {
        flex-direction: column;
        padding: 5px 12px;
        padding-right: 100px;
    }

    .banner-icon {
        position: absolute;
        right: 24px;
        bottom: 24px;
        width: 64px;
        height: 64px;
    }
}

@media (max-width: 768px) {
    .banner-card {
        min-height: 150px;
    }

    .content {
        padding: 10px;
        padding-right: 80px;
    }

    .content h3 {
        font-size: 20px;
        padding-left: 10px;
    }

    .content p {
        font-size: 14px;
    }

    .banner-icon {
        width: 48px;
        height: 48px;
        right: 25px;
        bottom: 25px;
    }
}