.BC-wrapper {
    width: 100%;
    margin-top: 100px;
    padding: 24px;
    border-radius: 16px;
}

.BC-wrapper h2 {
    color: white;
    font-size: 48px;
    margin-bottom: 40px;
    text-align: left;
}

.BC-list {
    display: flex;
    gap: 20px;
    overflow-x: auto;

}

@media (max-width: 1200px) {
    .BC-list {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .BC-wrapper h2 {
        font-size: 32px;
        text-align: left;
        margin-bottom: 20px;
}

    .BC-wrapper {
        margin-top: 100px;
        padding: 0px;
        border: none;
    }
}

@media (max-width: 390px) {
    .BC-wrapper h2 {
        font-size: 28px;
        text-align: left;
        margin: 0px;
        margin-bottom: 20px;
    }

    .BC-wrapper {
        margin-top: 100px;
        padding: 0px;
        margin: 0px;
    }
}
