.BC-wrapper {
    width: 100%;
}

.BC-wrapper h2 {
    color: white;
    font-size: 48px;
    margin-bottom: 20px;
}

.BC-list {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding: 10px 0;
}

@media (max-width: 1200px) {
    .BC-list {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .BC-wrapper h2 {
        font-size: 32px;
    }
}

@media (max-width: 390px) {
    .BC-wrapper h2 {
        font-size: 28px;
    }
}
