.card-list-wrapper {
    width: 100%;
    position: relative;
}

.card-list-wrapper-title {
    color: white;
    font-size: 42px;
    font-weight: bold;
    margin: 0;
    display: flex;
    /* align-items: flex-end; */
    height: 80px;
    padding: 20px 0px;
}

.card-list-wrapper-title span:first-child {
    color: #E50914;
    margin-right: 12px;
    font-size: 48px;
    font-weight: bold;
}


.card-list-container {
    position: relative;
    width: 100%;
}

.card-list {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0 40px;
}

.card {
    flex: 0 0 auto;
    width: 280px;
    height: 100%;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.thumbnail {
    width: 100%;
    height: 100%;
    position: relative;
}

.card-list-left-arrow,
.card-list-right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    color: white;
    transition: background-color 0.3s ease;
}

.card-list-left-arrow:hover,
.card-list-right-arrow:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #E50914;
}

.card-list-left-arrow {
    left: 0;
}

.card-list-right-arrow {
    right: 0;
}

@media (max-width: 768px) {
    .card-list-wrapper {
        padding: 0px;
    }



    .card-list-wrapper-title {
        font-size: 32px;
    }

    .card-list-wrapper-title span:first-child {
        font-size: 32px;
    } 

    .card {
        /* width: 48%; */
        /* height: 100%; */
        padding: 0 10px;
    }

    .card-list {
        gap: 15px;
        padding: 0px;
    }

    .card-list-left-arrow,
    .card-list-right-arrow {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 450px) {
    .card-list-wrapper-title {
        font-size: 28px;
    }

    .card-list-wrapper-title span:first-child {
        font-size: 28px;
    }  
}

@media (max-width: 390px) {
    .card-list-wrapper {
        padding: 5px 0;
    }

    .card-list-wrapper-title {
        font-size: 26px;
        font-weight: bold;
    }

    .card-list-wrapper-title span:first-child {
        font-size: 26px;
    }

    .card {
        width: 100%;
        height: 100%;
    }

    .card-list {
        gap: 5px;
        padding:0 20px 0 10px;
    }

    .card-list-left-arrow,
    .card-list-right-arrow {
        width: 25px;
        height: 25px;
    }
}