.card-wrapper {
  width: 180px;
  height: 252px;
  background-color: #000;
  border-radius: 10px;
}

/* .card-wrapper:hover {
  border: 1px solid #E50914;
  transition: transform 0.3s ease-in-out;
} */

.card-image {
  width: 180px;
  height: 252px;
  border-radius: 10px;
}