.features-section {
  padding: 4rem 0;
  background-color: #000;
  color: white;
  width: 100%;
}

.feature-item {
  margin-bottom: 4rem;
}

.feature-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}


/* 반응형 디자인 */
@media (max-width: 768px) {
  .features-section {
    padding: 2rem 0;
  }
}