.header {
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.header-content {
  max-width: 1160px;
  height: 88px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;

}

.header-actions {
  display: flex;
  width: 129px;
  /* padding: 9px 13px 7px 100px; */
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.language-btn{
  display: flex;
  width: 129px;
  padding: 7px 12px 7px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.70);
  background: rgba(22, 22, 22, 0.70);
}

.language-text{
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  width: 54px;
}
.sign-in-btn {
  border-radius: 4px;
  background: #E50914;  width: 76.91px;
  height: 32px;
  flex-shrink: 0;
  font-size: 14px;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .nav-menu ul {
    display: none;
  }
  
  .language-btn {
    display: none;
  }
  
  .sign-in-btn {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}

@media (max-width: 480px) {
  .header-content {
    padding: 0 0.5rem;
  }
  
  .logo img {
    height: 25px;
  }
}
