.hero-section {
  height: 888px;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  width: 100%;
  /* overflow: hidden; */
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%);
  background-size: cover;
  background-position: center;
}

.background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    11deg,
    rgba(0, 0, 0, 0.85) 10%,
    rgba(0, 0, 0, 0.85) 17.25%,
    rgba(0, 0, 0, 0.83) 24.5%,
    rgba(0, 0, 0, 0.82) 31.75%,
    rgba(0, 0, 0, 0.80) 39%,
    rgba(0, 0, 0, 0.76) 46.25%,
    rgba(0, 0, 0, 0.73) 53.5%,
    rgba(0, 0, 0, 0.69) 60.75%,
    rgba(0, 0, 0, 0.65) 68%,
    rgba(0, 0, 0, 0.63) 75.25%,
    rgba(0, 0, 0, 0.62) 82.5%,
    rgba(0, 0, 0, 0.60) 89.75%,
    rgba(0, 0, 0, 0.60) 97%
  );
}



.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.hero-content-wrapper {  
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;  /* 이미지 가운데에서 살짝 위로 */
}

.hero-content-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 720px;
  height: 309px;
}

.hero-title {
  color: #FFF;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 70px;
}

.hero-title-1 {
  color: #E50914;
}

.hero-subtitle {
  color: #FFF;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.8;
}

.hero-description {
  color: #dddddd;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 0.8;
}

.hero-form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero-input {
  flex: 1;
  padding: 0;
  padding-left: 16px;
  width: 367px;
  height: 56px;
  font-size: 16px;
  color: white;
  background-color: rgba(22, 22, 22, 0.7);
  border: 1px solid rgba(128, 128, 128, 0.7);
  border-radius: 4px;
  outline: none;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 213px;
  height: 53px;
  font-size: 22px;
  font-weight: 600;
  color: white;
  background-color: #E50914;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-bottom: 4px;
}

.hero-bottom {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.hero-bottom::before {
    content: '';
    position: absolute;
    width: 100%;     /*이 부분 수정함 기존 1864px 였음*/
    height: 100%;
    background: linear-gradient(90deg, #210D16 16%, #B82869 25%, #E50914 50%, #B82869 75%, #210D16 84%);
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .hero-section {
    width: 100%;
    height: 664px;

  }

  .hero-content {
    width: 80%;
    height: 244px;
  }

  .hero-title {
    font-weight: bold;
    font-size: 32px;
    padding: 0 20px;
    line-height: 40px;
  }

  .hero-subtitle {   
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
  }

  .hero-description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
  }

  .hero-form-group {
    display: flex;
  }
  
  .hero-input {
    width: 180px;
    height: 40px;
    font-size: 16px;
    font-weight: 300;
  }

  .hero-button {
    width: 120px;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
  }
  .hero-button svg {
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    }


   
    .hero-bottom {
      position: relative;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
    }
    
    .hero-bottom::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #210D16 16%, #B82869 25%, #E50914 50%, #B82869 75%, #210D16 84%);
    }
}

@media (max-width: 390px) {
  .hero-section {
    width: 100%;
    height: 664px;

  }

  .hero-content {
    width: 360px;
    height: 300px;
  }

  .hero-title {
    font-size: 32px;
    line-height: 40px;
  }
  
  .hero-subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .hero-description {
    width: 311.31px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
  }

  .hero-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-input {
    padding: 12px;
    width: 294px;
    height: 24px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 16px;
    margin-bottom: 16px;

  }

  .hero-button {
    width: 160.94px;
    height: 48px;
    font-size: 18px;
    font-weight: 600;
  }


  .hero-bottom {
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, #210D16 16%, #B82869 25%, #E50914 50%, #B82869 75%, #210D16 84%);
    }
}
