.faq-container {
    width: 100%;
    max-width: 1200px;
    padding: 48px 0px;
  }

  .faq-container h2 {
    font-weight: bold;
    margin-bottom: 16px;
    color: white;
    font-size: 48px;
  }

  
  .faq-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  
  /* 반응형 디자인 */
  @media (max-width: 768px) {
    .faq-container {
        padding: 32px 0px;
    }

    .faq-container h2 {
        font-size: 32px;
    }
    
    .accordion-header {
      font-size: 20px;
      padding: 16px;
    }
    
    .content-inner {
      font-size: 16px;
      padding: 16px;
    }
  }

  /* 모바일 화면 추가 */
  @media (max-width: 390px) {

    .faq-container h2 {
        font-size: 28px;
    }
  }