.chartSection-container {
    width: 100%;
    max-width: 1144px;
    padding: 48px 0px;
    margin-bottom: 100px;
}

.chartSection-container h2 {
    font-weight: bold;
    margin-bottom: 16px;
    color: white;
    font-size: 48px;
    text-align: center;
}

.chartSection-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 100px;
}

@media (max-width: 768px) {
    .chartSection-container {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .chartSection-container h2 {
        font-size: 32px;
    }

    .chartSection-content {
        flex-direction: column;
        gap: 50px;
    }
}